body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGNNHPxN08jCY9NZuBpxdMUzpyBtrizlzpQw&s');
    background-size: cover;
    background-attachment: fixed;
    margin: 200px;
}